body {
    margin:0;
    padding: 0;
    background-image: url('../images/bg-top.svg'),url('../images/bg-bottom.svg');
    background-position: right top, left bottom;
    background-color: hsl(240, 78%, 98%);
    background-repeat:no-repeat;
}
/* Toggle Switch start*/
.container-1 h4,.container-1 h2 {
    /* padding-top: 40px; */
    margin: 0px;
}
h2 {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: grey;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(192, 185, 185);
}
.box-2,.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    /* border:1px grey solid; */
}
input {
    
    display: none;
    
}
label {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color:hsl(237, 63%, 64%);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}
label:hover {
    cursor: pointer;
    background-color:hsl(235, 57%, 77%);
}
label:before {
    position: absolute;
    left: 2px;
    top: 3px;
    content:'';
    display: block;
    width:25px;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    transition: left 300ms ease;
}

input:checked + label::before {
    left:33px;
}
/* #toggle {
    width: 200px;
    height: 50px;
} */

/* Toggle Switch end */
.container {
    /* height: 100vh; */
    /* border: 1px rgb(174, 177, 17) solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-1{
    /* height: 20vh; */
    width:50%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
    
}
.container-2{
    /* height: 60vh; */
    /* padding : 10px; */
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */

}

.items-1,.items-2,.items-3 {
    width: 80%;
    /* height: 75rem; */
    /* background-color: aquamarine; */
    border-radius: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -1px 1px 1px hsl(237, 72%, 90%);
}

p {
    /* padding: 20px; */
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgb(136, 133, 133);
    /* border: rgb(174, 177, 17) 1px solid; */
    width:80%;
    text-align: center;
    margin-bottom: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 1px rgb(172, 168, 168) solid;
    margin-bottom: 0;

}
button {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(237, 63%, 64%);
    color: white;

}
button:hover {
    background-color: white;
    color:hsl(237, 63%, 64%);
    border:1px black solid;
    cursor: pointer;
}
.detail {
    padding-top: 6px;
    padding-bottom: 6px; 
    border-bottom: 1px rgb(172, 168, 168) solid;
}
.items-1:hover {
    /* width:70%; */
    /* transform: scale(1.2);
    padding-top: 40px;
    padding-bottom: 40px; */
    /* height: 80%; */
    background-color: hsl(237, 63%, 64%);
}
.items-1:hover button {
    background-color: white;
    color:hsl(237, 63%, 64%);
}
.items-1:hover p {
    color:white;
}
.items-1:hover h1,.items-2:hover h1,.items-3:hover h1 {
    color:white;
}
.items-2:hover {
    /* transform: scale(1.2);
    padding-top: 2em;
    padding-bottom: 2em; */
    background-color: hsl(237, 63%, 64%);
}
.items-2:hover button {
    background-color: white;
    color:hsl(237, 63%, 64%);
}
.items-2:hover p {
    color:white;
}
.items-3:hover {
    /* width:30%;
    height: 80%; */
    background-color: hsl(237, 63%, 64%);
}
.items-3:hover button {
    background-color: white;
    color:hsl(237, 63%, 64%);
}
.items-3:hover p {
    color:white;
}
.items-1:hover button:hover,.items-2:hover button:hover,.items-3:hover button:hover {
    background-color: hsl(237, 63%, 64%);
    color:white;
    border:1px white solid;
} 

@media screen and (min-width:600px) {
    .container {
        padding-bottom: 270px;
    }
    .container-2 {
        flex-direction: row;
        width:60%;
    }
    .items-1,.items-2,.items-3 {
        width:90%;
    }
    .items-1:hover,.items-2:hover,.items-3:hover {
        transform: scale(1.1);
    }

}